* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    
    background-attachment: fixed;
    font-family: Arial;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: Montserrat;
    font-size: 12px;
    word-spacing: -1px;
}

#logoheader {
    text-align:right;
}
.ui-header {
    background-color: #b6cc85;
    border-color: #b6cc85;
}

.ui-page {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
}


h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/*Mise en page formulaire je propose*/
form {
    width: 100%;
    margin: 0;
}

    form p {
        font-size: 16px;
        font-weight: 500;
        border-bottom: solid 1px #b6cc85;
        padding: 2px;
    }

form div {
  
    width:100%;
    padding:4px;
}
 .ui-checkbox {
     float:left;
 }

.ui-checkbox acces {
    display: inline;
}

fieldset {
   
    border: 5px solid white;
}

legend {
    background: #b6cc85;
    color: white;
    font-size: 15px;
    font-weight:400;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}



